<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <servlet-name>FormulaireEnStock</servlet-name>
    <servlet-class>com.projetpfe.servlet.FormulaireEnStock</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormulaireEnStock</servlet-name>
    <url-pattern>/FormulaireEnStocks</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddMateriel</servlet-name>
    <servlet-class>com.projetpfe.servlet.AddMateriel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMateriel</servlet-name>
    <url-pattern>/AjoutMateriels</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Recherche</servlet-name>
    <servlet-class>com.projetpfe.servlet.RechercheMateriel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Recherche</servlet-name>
    <url-pattern>/RechercheMateriels</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SortieMateriel</servlet-name>
    <servlet-class>com.projetpfe.servlet.SortieMateriel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SortieMateriel</servlet-name>
    <url-pattern>/RechercheSortieDuMateriel</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SortieDuMateriels</servlet-name>
    <servlet-class>com.projetpfe.servlet.SortieDuMateriels</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SortieDuMateriels</servlet-name>
    <url-pattern>/SortieDuMateriel</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>index</servlet-name>
    <servlet-class>com.projetpfe.servlet.index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/Index</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/s</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>DemandeMaintenances</servlet-name>
    <servlet-class>com.projetpfe.servlet.DemandeMaintenances</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemandeMaintenances</servlet-name>
    <url-pattern>/Statistique</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Messagerie</servlet-name>
    <servlet-class>com.projetpfe.servlet.Messagerie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Messagerie</servlet-name>
    <url-pattern>/Messageries</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AjoutUtilisateur</servlet-name>
    <servlet-class>com.projetpfe.servlet.AjoutUtilisateur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjoutUtilisateur</servlet-name>
    <url-pattern>/AjoutUtilisateurs</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConsulterOperation</servlet-name>
    <servlet-class>com.projetpfe.servlet.ConsulterOperation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsulterOperation</servlet-name>
    <url-pattern>/ConsulterOperations</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Deco</servlet-name>
    <servlet-class>com.projetpfe.servlet.Deco</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deco</servlet-name>
    <url-pattern>/Deconnexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PageAccueil</servlet-name>
    <servlet-class>com.projetpfe.servlet.PageAccueil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PageAccueil</servlet-name>
    <url-pattern>/Categorie</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GestionUtilisateur</servlet-name>
    <servlet-class>com.projetpfe.servlet.GestionUtilisateur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionUtilisateur</servlet-name>
    <url-pattern>/GestionUtilisateurs</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteUser</servlet-name>
    <servlet-class>com.projetpfe.servlet.DeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUser</servlet-name>
    <url-pattern>/DeleteUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModificationUtilisateur</servlet-name>
    <servlet-class>com.projetpfe.servlet.ModificationUtilisateur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificationUtilisateur</servlet-name>
    <url-pattern>/ModificationUtilisateurs</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GestionMateriel</servlet-name>
    <servlet-class>com.projetpfe.servlet.GestionMateriel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionMateriel</servlet-name>
    <url-pattern>/GestionMateriels</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SuppressionMateriel</servlet-name>
    <servlet-class>com.projetpfe.servlet.SuppressionMateriel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuppressionMateriel</servlet-name>
    <url-pattern>/SuppressionMateriels</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditerM</servlet-name>
    <servlet-class>com.projetpfe.servlet.EditerM</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditerM</servlet-name>
    <url-pattern>/EditerModif</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeletEdit</servlet-name>
    <servlet-class>com.projetpfe.servlet.DeletEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletEdit</servlet-name>
    <url-pattern>/DeletEdits</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>EditerModifHorsStock</servlet-name>
    <servlet-class>com.projetpfe.servlet.EditerModifHorsStock</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditerModifHorsStock</servlet-name>
    <url-pattern>/EditerModifHorsStocks</url-pattern>
  </servlet-mapping>
  
  <session-config>
    <session-timeout>480</session-timeout>
  </session-config>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
</web-app>